.input {
    border: none;
    border-bottom: 3px solid black;
    margin-top: 15px;
    background: none;
    font-size: 30px;
    padding: 5px;
    width: 100%;
    text-align: center;
    transition-duration: 0.75s;
    margin-bottom: 30px;
    
}

.input:focus {
    border-bottom: 3px solid rgb(29, 185, 84);
    outline: none;
    transition-duration: 0.75s;
}

@media screen and (max-width: 800px) {
    .input {
        font-size: 16px;
    }
}