.saveButton {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 15px;
    transition-duration: 0.75s;
}

.saveButton:hover {
    background: rgb(29, 185, 84);
    transition-duration: 0.35s;
    color: whitesmoke;
}

@media screen and (max-width: 800px) {
    .saveButton {
        font-size: 14px;
    }
}