* {
    margin: 0px;
    padding: 0px;
    font-family: 'cabin', sans-serif;
}

.app {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin: 0 auto;
    height: 100vh;
    background-image: url(/src/media/app\ background.jpg);
    background-size: cover;
}

@media screen and (max-width: 1586px)  {
    .app{
        min-height: 100vh;
        height: auto;
        width: auto;
        background-size: cover;
        background-attachment: fixed;
    }

    .containers {
        width: 60%;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 25px 0;
}

.main {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.containers {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
}